/*!
  Description: default Textrix editor elements spacing
  Author: (c) Abdulrahman Mahmoud <abdelrahman.mh3@gmail.com>
  Maintainer: Community Maintained (@abdulrahman-mh, others welcome)
  License: see project LICENSE
*/

.textrix > *:first-child {
  margin-top: 0 !important;
}

.textrix li > * {
  margin: 0 !important;
}

.textrix p {
  margin-bottom: 0;
}
.textrix p {
  margin-top: 38px;
}
.textrix blockquote + p,
.textrix p + p {
  margin-top: 29px;
}
.textrix h2 + p {
  margin-top: 18px;
}
.textrix h3 + p {
  margin-top: 8px;
}
.textrix h4 + p {
  margin-top: 6px;
}
.textrix blockquote.pullquote + p {
  margin-top: 54px;
}
.textrix blockquote {
  margin-top: 38px;
}
.textrix blockquote + blockquote {
  margin-top: 0;
  padding-top: 27px;
}
.textrix p + blockquote {
  margin-top: 29px;
}
.textrix h2 + blockquote {
  margin-top: 18px;
}
.textrix h3 + blockquote {
  margin-top: 12px;
}
.textrix h4 + blockquote {
  margin-top: 10px;
}
.textrix blockquote.pullquote + blockquote {
  margin-top: 54px;
}

.textrix .pullquote {
  margin-top: 64px;
}
.textrix blockquote:not(.pullquote) + .pullquote p + .pullquote {
  margin-top: 55px;
}
.textrix h2 + .pullquote {
  margin-top: 58px;
}
.textrix h3 + .pullquote {
  margin-top: 28px;
}
.textrix .h4 + .pullquote {
  margin-top: 28px;
}
.textrix .pullquote + .pullquote {
  margin-top: 24px;
}
.textrix blockquote + h2,
.textrix p + h2 {
  margin-top: 54px;
}
.textrix h3 + h2 {
  margin-top: -3px;
}
.textrix h4 + h2 {
  margin-top: -3px;
}
.textrix .pullquote + h2 {
  margin-top: 51px;
}
.textrix h3 {
  margin-top: 53px;
}
.textrix blockquote + h3,
.textrix p + h3 {
  margin-top: 56px;
}
.textrix h2 + h3 {
  margin-top: 1px;
}
.textrix h4 + h3 {
  margin-top: 31px;
}
.textrix .pullquote + h3 {
  margin-top: 53px;
}
.textrix blockquote + h4,
.textrix p + h4 {
  margin-top: 30px;
}
.textrix h2 + h4 {
  margin-top: 3px;
}
.textrix h3 + h4 {
  margin-top: 31px;
}
.textrix .pullquote + h4 {
  margin-top: 55px;
}
.textrix .title {
  margin-top: 39px;
}
.textrix .kicker + .title {
  margin-top: 5px;
}
.textrix h2 + .subtitle,
.textrix h3 + .subtitle {
  margin-top: 5px;
  margin-bottom: 22px;
}
.textrix .subtitle + h3 {
  margin-top: 45px;
}
.textrix .title + p {
  margin-top: 10px;
}
.textrix .subtitle + p {
  margin-top: 10px;
}
.textrix figure,
.textrix .mixtapeEmbed,
.textrix pre {
  margin-top: 52px;
}
.textrix .pullquote + p {
  margin-top: 54px;
}
.textrix .pullquote + blockquote {
  margin-top: 54px;
}
.textrix blockquote + .pullquote,
.textrix p + .pullquote {
  margin-top: 55px;
}
.textrix .pullquote + blockquote,
.textrix .pullquote + p {
  margin-top: 55px;
}
.textrix h4 + .pullquote {
  margin-top: 28px;
}
.textrix h2 {
  margin-top: 63px;
}
.textrix h4 {
  margin-top: 39px;
}
.textrix h1 {
  margin-top: 39px;
}
.textrix .kicker + h1 {
  margin-top: 5px;
}
.textrix .subtitle + h2,
.textrix .subtitle + h3 {
  margin-top: 5px;
  margin-bottom: 22px;
}
.textrix h1 + p {
  margin-top: 10px;
}
.textrix figure,
.textrix pre {
  margin-top: 52px;
}
.textrix blockquote + figure,
.textrix p + figure,
.textrix blockquote + pre,
.textrix p + pre {
  margin-top: 43px;
}
.textrix h2 + figure,
.textrix h2 + pre {
  margin-top: 46px;
}
.textrix h3 + figure,
.textrix h3 + pre {
  margin-top: 44px;
}
.textrix h4 + figure,
.textrix h4 + pre {
  margin-top: 44px;
}
.textrix .pullquote + figure,
.textrix .pullquote + pre {
  margin-top: 68px;
}
.textrix hr {
  margin-top: 52px;
  margin-bottom: 42px;
}

/* List spacing */
.textrix ul,
.textrix ol {
  margin: 0;
  padding: 0;
}

.textrix ul + ul,
.textrix ol + ol,
.textrix ul + ol,
.textrix ol + ul {
  margin-top: 29px;
}

.textrix p + ul,
.textrix p + ol {
  margin-top: 29px;
}

.textrix blockquote + ul,
.textrix blockquote + ol {
  margin-top: 29px;
}

.textrix h2 + ul,
.textrix h2 + ol {
  margin-top: 18px;
}

.textrix h3 + ul,
.textrix h3 + ol {
  margin-top: 12px;
}

.textrix h4 + ul,
.textrix h4 + ol {
  margin-top: 10px;
}

.textrix blockquote.pullquote + ul,
.textrix blockquote.pullquote + ol {
  margin-top: 54px;
}

.textrix ul > li,
.textrix ol > li {
  margin-left: 30px;
  margin-bottom: 14px;
}

.textrix ul > li:last-child,
.textrix ol > li:last-child {
  margin-bottom: 0;
}

.textrix ul > li:before,
.textrix ol > li:before {
  width: 78px;
  margin-left: -78px;
}

.textrix ol > li:before {
  padding-right: 12px;
}

.textrix ul > li:before {
  padding-top: 4px;
  padding-right: 15px;
}

.textrix ul li {
  padding-inline-start: 0 !important;
}

.textrix ul li::before {
  margin-right: unset !important;
}

.textrix ol li {
  padding-inline-start: 0 !important;
}

@media (max-width: 767px) {
  .textrix p {
    margin-top: 30px;
  }
  .textrix blockquote + p,
  .textrix p + p {
    margin-top: 21px;
  }
  .textrix h2 + p {
    margin-top: 14px;
  }
  .textrix h3 + p {
    margin-top: 8px;
  }
  .textrix h4 + p {
    margin-top: 6px;
  }
  .textrix .pullquote + p {
    margin-top: 26px;
  }
  .textrix blockquote {
    margin-top: 30px;
  }
  .textrix blockquote + blockquote {
    margin-top: 0;
    padding-top: 19px;
  }
  .textrix p + blockquote {
    margin-top: 21px;
  }
  .textrix h2 + blockquote {
    margin-top: 14px;
  }
  .textrix h3 + blockquote {
    margin-top: 8px;
  }
  .textrix h4 + blockquote {
    margin-top: 6px;
  }
  .textrix .pullquote + blockquote {
    margin-top: 26px;
  }

  .textrix .pullquote {
    margin-top: 36px;
  }
  .textrix blockquote + .pullquote,
  .textrix p + .pullquote {
    margin-top: 27px;
  }
  .textrix h2 + .pullquote {
    margin-top: 30px;
  }
  .textrix h3 + .pullquote {
    margin-top: 20px;
  }
  .textrix h4 + .pullquote {
    margin-top: 20px;
  }
  .textrix .pullquote + .pullquote {
    margin-top: 16px;
  }
  .textrix h2 {
    margin-top: 35px;
  }
  .textrix blockquote + h2,
  .textrix p + h2 {
    margin-top: 26px;
  }
  .textrix h3 + h2 {
    margin-top: -3px;
  }
  .textrix h4 + h2 {
    margin-top: -3px;
  }
  .textrix .pullquote + h2 {
    margin-top: 23px;
  }
  .textrix h3 {
    margin-top: 45px;
  }
  .textrix blockquote + h3,
  .textrix p + h3 {
    margin-top: 28px;
  }
  .textrix h2 + h3 {
    margin-top: 1px;
  }
  .textrix h4 + h3 {
    margin-top: 23px;
  }
  .textrix .pullquote + h3 {
    margin-top: 25px;
  }
  .textrix h4 {
    margin-top: 31px;
  }
  .textrix blockquote + h4,
  .textrix p + h4 {
    margin-top: 22px;
  }
  .textrix h2 + h4 {
    margin-top: 3px;
  }
  .textrix h3 + h4 {
    margin-top: 23px;
  }
  .textrix .pullquote + h4 {
    margin-top: 27px;
  }
  .textrix figure,
  .textrix .pre {
    margin-top: 44px;
  }
  .textrix blockquote + figure,
  .textrix p + figure,
  .textrix blockquote + .pre,
  .textrix p + .pre {
    margin-top: 35px;
  }
  .textrix h2 + figure,
  .textrix h2 + .pre {
    margin-top: 38px;
  }
  .textrix h3 + figure,
  .textrix h3 + .pre {
    margin-top: 36px;
  }
  .textrix h4 + figure,
  .textrix h4 + .pre {
    margin-top: 36px;
  }
  .textrix .pullquote + figure,
  .textrix .pullquote + .pre {
    margin-top: 40px;
  }
  .textrix .layoutFillWidth,
  .textrix blockquote + .layoutFillWidth,
  .textrix p + .layoutFillWidth {
    margin-top: 52px;
    margin-bottom: 52px;
  }
  .textrix .layoutFillWidth + .layoutFillWidth {
    margin-top: -52px;
  }
  .textrix hr {
    margin-top: 44px;
    margin-bottom: 34px;
  }
  .textrix .title {
    margin-top: 31px;
  }
  .textrix .kicker + .title {
    margin-top: 5px;
  }
  .textrix .subtitle + h2,
  .textrix .subtitle + h3 {
    margin-top: 5px;
    margin-bottom: 22px;
  }
  .textrix .subtitle + h3 {
    margin-top: 37px;
  }
  .textrix .title + p {
    margin-top: 10px;
  }
  .textrix .subtitle + p {
    margin-top: 10px;
  }

  /* List spacing */
  .textrix ul,
  .textrix ol {
    margin-top: 30px;
  }

  .textrix ul + ul,
  .textrix ol + ol,
  .textrix ul + ol,
  .textrix ol + ul {
    margin-top: 21px;
  }

  .textrix p + ul,
  .textrix p + ol {
    margin-top: 21px;
  }

  .textrix blockquote + ul,
  .textrix blockquote + ol {
    margin-top: 21px;
  }

  .textrix h2 + ul,
  .textrix h2 + ol {
    margin-top: 14px;
  }

  .textrix h3 + ul,
  .textrix h3 + ol {
    margin-top: 8px;
  }

  .textrix h4 + ul,
  .textrix h4 + ol {
    margin-top: 6px;
  }

  .textrix blockquote.pullquote + ul,
  .textrix blockquote.pullquote + ol {
    margin-top: 26px;
  }
}

@media print {
  .textrix blockquote + blockquote,
  .textrix p + blockquote {
    margin-top: 20px;
  }
  .textrix p {
    font-size: 14.28px;
  }
  .textrix h2 {
    font-size: 36.72px;
  }
  .textrix h3 {
    font-size: 25.84px;
  }
  .textrix h4 {
    font-size: 20.4px;
  }
  .textrix blockquote {
    font-size: 14.28px;
  }
  .textrix blockquote.pullquote {
    font-size: 20.4px;
  }

  .textrix pre {
    font-size: 10.88px;
  }
  .textrix p > code {
    font-size: 10.88px;
  }
  .textrix hr:before {
    font-size: 20.4px;
  }
  .textrix body {
    overflow: hidden;
  }
  @page {
    margin-top: 0.75in;
    margin-bottom: 0.75in;
  }
  .textrix body {
    color: #000;
    orphans: 2;
    widows: 2;
  }
  .textrix h2,
  .textrix h3 {
    color: #000;
  }
  .textrix h4 {
    color: rgba(0, 0, 0, 0.68);
  }
  .textrix blockquote {
    border-left: 0.17em solid #000;
  }

  /* List spacing */
  .textrix blockquote + ul,
  .textrix blockquote + ol,
  .textrix p + ul,
  .textrix p + ol,
  .textrix ul + ul,
  .textrix ol + ol,
  .textrix ul + ol,
  .textrix ol + ul {
    margin-top: 20px;
  }

  .textrix ul > li:before {
    padding-top: 3px;
  }
}

hr + figure {
  margin-top: 52px;
}

figure + figure {
  margin-top: 52px;
}

.images-grid > figure {
  margin-top: 0;
}

* + .images-grid {
  margin-top: 52px;
}

.images-grid + .images-grid {
  margin-top: 0;
}

@media (max-width: 767px) {
  hr + figure {
    margin-top: 32px;
  }

  figure + figure {
    margin-top: 32px;
  }

  .images-grid > figure {
    margin-top: 0;
  }

  * + .images-grid {
    margin-top: 32px;
  }

  .images-grid + .images-grid {
    margin-top: 0;
  }
}
