/*!
  Theme: textrix
  Description: Default Textrix (Medium-style) editor theme
  Author: (c) Abdulrahman Mahmoud <abdelrahman.mh3@gmail.com>
  Maintainer: Community Maintained (@abdulrahman-mh, others welcome)
  License: see project LICENSE
*/

@import url(./core.css);
@import url(./textrix.spacing.css);

figure {
  padding-block: 5px;
}

.textrix p {
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
}

.textrix h3 {
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  font-size: 34px;
  line-height: 1.15;
}
.textrix h4 {
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.22;
}

.textrix h2,
.textrix h3,
.textrix h4 {
  color: rgba(0, 0, 0, 0.84);
}

.textrix .kicker,
.textrix .subtitle {
  color: rgba(0, 0, 0, 0.54);
}
.textrix .title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.84);
  padding-top: 5px;
}
.textrix > h4.subtitle {
  margin-top: 5px;
  margin-bottom: 22px;
  font-weight: 300;
  font-size: 28px;
  line-height: 1.22;
}
.textrix > h4.kicker {
  font-weight: 300;
  letter-spacing: 0;
  font-size: 22px;
  line-height: 1.22;
}

.textrix blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.84);
  padding-left: 20px;
  margin-left: -23px;
  padding-bottom: 2px;
  font-weight: 400;
  font-style: italic;
  font-size: 21px;
  line-height: 1.58;
}
.textrix .pullquote {
  color: rgba(0, 0, 0, 0.68);
  border: none;
  padding: 0;
  padding-left: 50px;
  font-size: 30px;
  line-height: 1.48;
}

@media (max-width: 767px) {
  .textrix p {
    font-size: 18px;
    line-height: 1.58;
  }
  .textrix h2 {
    font-size: 34px;
    line-height: 1.04;
  }
  .textrix h3 {
    font-size: 30px;
    line-height: 1.15;
  }
  .textrix h4 {
    font-size: 24px;
    line-height: 1.22;
  }
  .textrix blockquote {
    font-size: 18px;
    line-height: 1.58;
  }
  .textrix .pullquote {
    font-size: 24px;
    line-height: 1.4;
  }
  .textrix li {
    font-size: 18px;
    line-height: 1.58;
  }
  .textrix ul > li:before {
    font-size: 14.4px;
  }
  .textrix pre,
  .textrix p > code {
    font-size: 14px;
  }
  .title {
    font-size: 34px;
    line-height: 1.04;
    letter-spacing: -0.015em;
  }
  .subtitle {
    font-size: 24px;
    line-height: 1.22;
    letter-spacing: -0.012em;
  }
  .textrix blockquote {
    padding-left: 17px;
    margin-left: -20px;
  }
  .textrix .pullquote {
    padding-left: 30px;
  }
}

[data-placeholder]::before {
  color: #aaa;
}

.textrix li {
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
}
.textrix ul > li:before {
  font-size: 16.8px;
}

.drop-cursor {
  display: none;
  background-color: green;
  position: absolute;
  z-index: 50;
}
.drop-cursor.active {
  display: inline-block;
  animation: pop-upwards 180ms forwards linear;
}

.textrix > hr {
  font-size: 24px;
  line-height: 1.4;
  display: block;
  border: 0;
  text-align: center;
  overflow: visible;
  box-sizing: content-box;
  height: 0;
}

.textrix > hr::before {
  content: "...";
  display: inline-block;
  margin-left: 0.6em;
  color: rgba(0, 0, 0, 0.68);
  position: relative;
  top: -30px;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  letter-spacing: 0.6em;
}

figcaption {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.68);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  outline: 0;
}

/* ------------- Bubble Menu ------------- */
.bubbleMenu {
  position: absolute;
  visibility: hidden;
  display: none;
  z-index: 40;
  -webkit-transition: none;
  transition: none;
  top: 0;
  left: 0;
}
.bubbleMenu.show {
  display: block;
}
.bubbleMenu--active {
  display: inline-block;
  visibility: visible;
  transition: top 75ms ease-out, left 75ms ease-out;
  animation: pop-upwards 180ms forwards linear;
}
.bubbleMenu-inner {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(49, 49, 47, 0.99), #262625);
  background-repeat: repeat-x;
  border-radius: 5px;
  padding: 0 10px;
}
.bubbleMenu-arrowClip {
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  clip-path: polygon(0 10px, 20px 10px, 20px 20px, 0 20px);
}
.bubbleMenu-arrowClip .bubbleMenu-arrow {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #262625;
  transform: rotate(45deg) scale(0.5);
}
.buttonSet .button--bubbleMenu {
  height: 44px;
  line-height: 46px;
}
.button--bubbleMenu {
  height: 44px;
  line-height: 46px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  white-space: normal;
  transition: 0.1s background-color, 0.1s border-color, 0.1s color, 0.1s fill;
  font-size: 16px;
  user-select: none;
  font-weight: 400;
  font-style: normal;
  border: 0;
  cursor: pointer;
  color: #fff;
  box-sizing: content-box;
  margin: 0 8px;
  padding: 0;
  background-color: transparent;
}
.button--bubbleMenu:hover {
  color: #fff;
}
.button--bubbleMenu.is-active {
  color: #34e79a;
  /* v-unbound #b5e5a4 */
}
.button--bubbleMenu:disabled {
  pointer-events: none;
  opacity: 0.25;
  cursor: default;
}
.button--bubbleMenu .icon {
  width: 21px;
  height: 21px;

  background-color: #fff;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: contain;
  mask-size: contain;

  margin-top: -3px;
  margin-left: -3px;
  margin-right: -3px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  display: inline-block;
}
.buttonSet .button--bubbleMenu:last-child {
  margin-right: 8px;
}

.bubbleMenu-linkinput .button--bubbleMenu[data-action="cancelLink"] .icon {
  width: 19px;
  height: 19px;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='19' width='19' color='currentColor'%3E%3Cpath d='m13.792 4.6-4.29 4.29-4.29-4.29-.612.613 4.29 4.29-4.29 4.29.613.612 4.29-4.29 4.29 4.29.612-.613-4.29-4.29 4.29-4.29' fill-rule='evenodd'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='19' width='19' color='currentColor'%3E%3Cpath d='m13.792 4.6-4.29 4.29-4.29-4.29-.612.613 4.29 4.29-4.29 4.29.613.612 4.29-4.29 4.29 4.29.612-.613-4.29-4.29 4.29-4.29' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.button--bubbleMenu[data-action="bold"] .icon {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='21' width='21' fill='currentColor'%3E%3Cpath d='M10.308 17.993h-5.92l.11-.894.783-.12c.56-.11.79-.224.79-.448V5.37c0-.225-.113-.336-.902-.448H4.5l-.114-.894h6.255c4.02 0 5.58 1.23 5.58 3.13 0 1.896-1.78 3.125-3.79 3.463v.11c2.69.34 4.25 1.56 4.25 3.57 0 2.35-2.01 3.69-6.37 3.69l.02.01h-.02zm-.335-12.96H8.967V10.5h1.23c1.788 0 2.79-1.23 2.79-2.683 0-1.685-1.004-2.803-3.006-2.803v.02zm-.223 6.36h-.783v5.588l1.225.23h.22c1.67 0 3.01-1.004 3.01-2.792 0-2.122-1.566-3.016-3.69-3.016h.018z' fill-rule='evenodd'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='21' width='21' fill='currentColor'%3E%3Cpath d='M10.308 17.993h-5.92l.11-.894.783-.12c.56-.11.79-.224.79-.448V5.37c0-.225-.113-.336-.902-.448H4.5l-.114-.894h6.255c4.02 0 5.58 1.23 5.58 3.13 0 1.896-1.78 3.125-3.79 3.463v.11c2.69.34 4.25 1.56 4.25 3.57 0 2.35-2.01 3.69-6.37 3.69l.02.01h-.02zm-.335-12.96H8.967V10.5h1.23c1.788 0 2.79-1.23 2.79-2.683 0-1.685-1.004-2.803-3.006-2.803v.02zm-.223 6.36h-.783v5.588l1.225.23h.22c1.67 0 3.01-1.004 3.01-2.792 0-2.122-1.566-3.016-3.69-3.016h.018z' fill-rule='evenodd'/%3E%3C/svg%3E");
  margin-left: -9px;
  margin-right: -9px;
}
.button--bubbleMenu[data-action="italic"] .icon {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='21' width='21' fill='currentColor'%3E%3Cpath d='M9.847 18.04c-.533 0-2.027-.64-1.92-.853l2.027-7.68-.64-.214-1.387 1.494-.427-.427c.534-1.173 1.707-2.667 2.774-2.667.533 0 2.24.534 2.133.854l-2.133 7.786.533.214 1.6-1.067.427.427c-.64 1.066-1.92 2.133-2.987 2.133m2.347-11.733c-.96 0-1.387-.64-1.387-1.387 0-1.067.747-1.92 1.493-1.92.854 0 1.387.64 1.387 1.493-.107 1.067-.747 1.814-1.493 1.814' fill-rule='evenodd'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='21' width='21' fill='currentColor'%3E%3Cpath d='M9.847 18.04c-.533 0-2.027-.64-1.92-.853l2.027-7.68-.64-.214-1.387 1.494-.427-.427c.534-1.173 1.707-2.667 2.774-2.667.533 0 2.24.534 2.133.854l-2.133 7.786.533.214 1.6-1.067.427.427c-.64 1.066-1.92 2.133-2.987 2.133m2.347-11.733c-.96 0-1.387-.64-1.387-1.387 0-1.067.747-1.92 1.493-1.92.854 0 1.387.64 1.387 1.493-.107 1.067-.747 1.814-1.493 1.814' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.button--bubbleMenu[data-action="link"] .icon {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='21' width='21' fill='currentColor'%3E%3Cpath d='M2.2 13.17q0-.862.375-1.605l.02-.018v-.02q.02-.001.02-.02c0-.014 0-.02.02-.02.122-.256.31-.52.576-.805l3.19-3.18c0-.008 0-.015.01-.02s.01-.013.01-.02c.44-.413.91-.7 1.44-.853-.63.71-1.03 1.5-1.19 2.36-.04.24-.06.52-.06.81 0 .14.01.24.02.33L4.67 12.1q-.286.284-.376.653a1.3 1.3 0 0 0-.057.415q0 .232.06.477.112.315.376.58l1.286 1.31c.27.276.62.416 1.03.416.42 0 .78-.14 1.06-.42l1.23-1.25.79-.78 1.15-1.16c.08-.09.19-.22.28-.4.103-.2.15-.42.15-.67q-.001-.24-.056-.45l-.02-.02v-.02l-.07-.14q0-.015-.04-.06l-.06-.13-.02-.02c0-.02-.01-.03-.02-.05a.6.6 0 0 0-.143-.16l-.48-.5c0-.042.015-.1.04-.15l.06-.12 1.17-1.14.087-.09.56.57c.023.04.08.1.16.18l.05.04q.01.026.035.06l.04.054q.015.016.03.04c.03.023.04.046.04.058.04.04.08.09.1.14l.02.02q.002.026.024.04l.105.197v.02c.098.157.19.384.297.68a1 1 0 0 1 .04.255c.06.21.08.443.08.7q0 .33-.06.63c-.12.71-.44 1.334-.95 1.865l-.66.67-.97.972-1.554 1.57C8.806 17.654 7.98 18 7.01 18s-1.8-.34-2.487-1.026l-1.296-1.308a3.55 3.55 0 0 1-.913-1.627 4.5 4.5 0 0 1-.102-.88v-.01l-.012.01zm5.385-3.433q0-.275.07-.63.194-1.107.956-1.87l.66-.662.97-.983 1.56-1.56C12.48 3.34 13.3 3 14.27 3q1.457 0 2.483 1.022l1.29 1.314q.66.656.913 1.618c.067.32.102.614.102.87q.002.864-.375 1.605l-.02.01v.02l-.02.04q-.224.405-.6.81l-3.187 3.19c0 .01 0 .01-.01.02-.01 0-.01.01-.01.02-.434.42-.916.7-1.427.83.63-.67 1.03-1.46 1.19-2.36q.06-.39.06-.81c0-.14-.01-.26-.02-.35l1.99-1.97c.18-.21.3-.42.35-.65.04-.12.05-.26.05-.42s-.02-.31-.06-.48c-.07-.19-.19-.38-.36-.58l-1.3-1.3a1.5 1.5 0 0 0-1.06-.42c-.42 0-.77.14-1.06.41L11.98 6.7l-.79.793-1.157 1.16q-.132.114-.294.4c-.09.233-.14.46-.14.67q0 .24.06.452l.02.02v.023l.06.144c0 .006.01.026.05.06l.06.125.02.02c0 .01 0 .013.01.02 0 .005.01.01.01.02.05.08.1.134.14.16l.47.5c0 .04-.02.093-.04.15l-.06.12-1.15 1.15-.1.08-.56-.56a2 2 0 0 0-.18-.187c-.02-.01-.02-.03-.02-.04l-.02-.02a.4.4 0 0 1-.1-.122c-.03-.024-.05-.043-.05-.06l-.1-.15-.02-.02-.02-.04L8 11.4v-.02a5 5 0 0 1-.283-.69 1 1 0 0 1-.04-.257 2.6 2.6 0 0 1-.093-.7v.007z' fill-rule='evenodd'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='21' width='21' fill='currentColor'%3E%3Cpath d='M2.2 13.17q0-.862.375-1.605l.02-.018v-.02q.02-.001.02-.02c0-.014 0-.02.02-.02.122-.256.31-.52.576-.805l3.19-3.18c0-.008 0-.015.01-.02s.01-.013.01-.02c.44-.413.91-.7 1.44-.853-.63.71-1.03 1.5-1.19 2.36-.04.24-.06.52-.06.81 0 .14.01.24.02.33L4.67 12.1q-.286.284-.376.653a1.3 1.3 0 0 0-.057.415q0 .232.06.477.112.315.376.58l1.286 1.31c.27.276.62.416 1.03.416.42 0 .78-.14 1.06-.42l1.23-1.25.79-.78 1.15-1.16c.08-.09.19-.22.28-.4.103-.2.15-.42.15-.67q-.001-.24-.056-.45l-.02-.02v-.02l-.07-.14q0-.015-.04-.06l-.06-.13-.02-.02c0-.02-.01-.03-.02-.05a.6.6 0 0 0-.143-.16l-.48-.5c0-.042.015-.1.04-.15l.06-.12 1.17-1.14.087-.09.56.57c.023.04.08.1.16.18l.05.04q.01.026.035.06l.04.054q.015.016.03.04c.03.023.04.046.04.058.04.04.08.09.1.14l.02.02q.002.026.024.04l.105.197v.02c.098.157.19.384.297.68a1 1 0 0 1 .04.255c.06.21.08.443.08.7q0 .33-.06.63c-.12.71-.44 1.334-.95 1.865l-.66.67-.97.972-1.554 1.57C8.806 17.654 7.98 18 7.01 18s-1.8-.34-2.487-1.026l-1.296-1.308a3.55 3.55 0 0 1-.913-1.627 4.5 4.5 0 0 1-.102-.88v-.01l-.012.01zm5.385-3.433q0-.275.07-.63.194-1.107.956-1.87l.66-.662.97-.983 1.56-1.56C12.48 3.34 13.3 3 14.27 3q1.457 0 2.483 1.022l1.29 1.314q.66.656.913 1.618c.067.32.102.614.102.87q.002.864-.375 1.605l-.02.01v.02l-.02.04q-.224.405-.6.81l-3.187 3.19c0 .01 0 .01-.01.02-.01 0-.01.01-.01.02-.434.42-.916.7-1.427.83.63-.67 1.03-1.46 1.19-2.36q.06-.39.06-.81c0-.14-.01-.26-.02-.35l1.99-1.97c.18-.21.3-.42.35-.65.04-.12.05-.26.05-.42s-.02-.31-.06-.48c-.07-.19-.19-.38-.36-.58l-1.3-1.3a1.5 1.5 0 0 0-1.06-.42c-.42 0-.77.14-1.06.41L11.98 6.7l-.79.793-1.157 1.16q-.132.114-.294.4c-.09.233-.14.46-.14.67q0 .24.06.452l.02.02v.023l.06.144c0 .006.01.026.05.06l.06.125.02.02c0 .01 0 .013.01.02 0 .005.01.01.01.02.05.08.1.134.14.16l.47.5c0 .04-.02.093-.04.15l-.06.12-1.15 1.15-.1.08-.56-.56a2 2 0 0 0-.18-.187c-.02-.01-.02-.03-.02-.04l-.02-.02a.4.4 0 0 1-.1-.122c-.03-.024-.05-.043-.05-.06l-.1-.15-.02-.02-.02-.04L8 11.4v-.02a5 5 0 0 1-.283-.69 1 1 0 0 1-.04-.257 2.6 2.6 0 0 1-.093-.7v.007z' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.button--bubbleMenu[data-action="h3"] .icon {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='21' width='21' fill='currentColor'%3E%3Cpath d='M3 2v4.747h1.656l.383-2.568.384-.311h3.88V15.82l-.408.38-1.56.12V18h7.174v-1.68l-1.56-.12-.407-.38V3.868h3.879l.36.311.407 2.568h1.656V2z' fill-rule='evenodd'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='21' width='21' fill='currentColor'%3E%3Cpath d='M3 2v4.747h1.656l.383-2.568.384-.311h3.88V15.82l-.408.38-1.56.12V18h7.174v-1.68l-1.56-.12-.407-.38V3.868h3.879l.36.311.407 2.568h1.656V2z' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.button--bubbleMenu[data-action="h4"] .icon {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='21' width='21' color='currentColor'%3E%3Cpath d='M4 5.5v4.74h1.657l.384-2.569.384-.312h2.733v8.461l-.41.38-1.91.12V18h7.179v-1.68l-1.912-.12-.405-.38V7.359h2.729l.36.312.408 2.57h1.657V5.5z' fill-rule='evenodd'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='21' width='21' color='currentColor'%3E%3Cpath d='M4 5.5v4.74h1.657l.384-2.569.384-.312h2.733v8.461l-.41.38-1.91.12V18h7.179v-1.68l-1.912-.12-.405-.38V7.359h2.729l.36.312.408 2.57h1.657V5.5z' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.button--bubbleMenu[data-action="blockquote"] .icon {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-multipart='true' height='21' width='21' color='currentColor'%3E%3Cpath d='M15.48 18.024c-2.603 0-4.45-2.172-4.45-4.778 0-3.263 2.498-6.3 6.517-8.803l1.297 1.303c-2.497 1.63-3.91 3.042-3.91 5.214 0 2.824 3.91 3.582 3.91 3.91.11 1.41-1.194 3.15-3.366 3.15h.004v.004zm-8.902 0c-2.606 0-4.453-2.172-4.453-4.778 0-3.263 2.497-6.3 6.515-8.803l1.303 1.303c-2.606 1.63-3.907 3.042-3.907 5.106 0 2.823 3.91 3.58 3.91 3.91 0 1.518-1.304 3.257-3.368 3.257z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-multipart='true' height='21' width='21' color='currentColor'%3E%3Cpath d='M15.48 18.024c-2.603 0-4.45-2.172-4.45-4.778 0-3.263 2.498-6.3 6.517-8.803l1.297 1.303c-2.497 1.63-3.91 3.042-3.91 5.214 0 2.824 3.91 3.582 3.91 3.91.11 1.41-1.194 3.15-3.366 3.15h.004v.004zm-8.902 0c-2.606 0-4.453-2.172-4.453-4.778 0-3.263 2.497-6.3 6.515-8.803l1.303 1.303c-2.606 1.63-3.907 3.042-3.907 5.106 0 2.823 3.91 3.58 3.91 3.91 0 1.518-1.304 3.257-3.368 3.257z'/%3E%3C/svg%3E");
}
.button--bubbleMenu[data-action="drop-cap"] .icon {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='21' width='21'%3E%3Cpath d='M1.033 17.57v-.942q0-.225.136-.34c.09-.08.2-.12.32-.12h18.62c.13 0 .23.04.32.118.09.08.14.192.14.34v.943c0 .1-.05.21-.14.31-.1.1-.21.15-.32.15H1.49q-.159 0-.31-.15c-.1-.1-.15-.21-.15-.31zm0-10.135q1.041 0 1.502-.173l.122-.992h1.4v6.425q-.801.072-1.038.17c-.16.31-.26.682-.29 1.112h4.55c.04-.154.06-.35.05-.6s-.04-.44-.1-.57a5.6 5.6 0 0 0-1.26-.123V6.266h1.41c.12.654.18 1.01.2 1.067.32.083.81.123 1.45.123V5.04h-8v2.395zm10.395 5.916c0 .15.04.26.13.34.09.09.195.13.31.13h8.24c.115 0 .22-.04.316-.13a.42.42 0 0 0 .143-.32v-.94c0-.11-.048-.22-.15-.32q-.149-.15-.31-.15h-8.23c-.11 0-.21.06-.305.16a.5.5 0 0 0-.144.33v.94-.01zm0-3.47c0 .13.04.23.13.32s.195.13.31.13h8.24c.115 0 .22-.04.316-.13a.4.4 0 0 0 .143-.31v-.95c0-.11-.048-.21-.143-.31a.43.43 0 0 0-.317-.15h-8.23q-.164 0-.305.15a.47.47 0 0 0-.144.32v.94zm0-3.43a.445.445 0 0 0 .44.46h8.24c.115 0 .22-.04.316-.13a.4.4 0 0 0 .143-.32V5.5a.44.44 0 0 0-.143-.316.44.44 0 0 0-.317-.143h-8.23q-.164 0-.305.15c-.095.1-.143.2-.144.32v.95z' fill-rule='evenodd'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='21' width='21'%3E%3Cpath d='M1.033 17.57v-.942q0-.225.136-.34c.09-.08.2-.12.32-.12h18.62c.13 0 .23.04.32.118.09.08.14.192.14.34v.943c0 .1-.05.21-.14.31-.1.1-.21.15-.32.15H1.49q-.159 0-.31-.15c-.1-.1-.15-.21-.15-.31zm0-10.135q1.041 0 1.502-.173l.122-.992h1.4v6.425q-.801.072-1.038.17c-.16.31-.26.682-.29 1.112h4.55c.04-.154.06-.35.05-.6s-.04-.44-.1-.57a5.6 5.6 0 0 0-1.26-.123V6.266h1.41c.12.654.18 1.01.2 1.067.32.083.81.123 1.45.123V5.04h-8v2.395zm10.395 5.916c0 .15.04.26.13.34.09.09.195.13.31.13h8.24c.115 0 .22-.04.316-.13a.42.42 0 0 0 .143-.32v-.94c0-.11-.048-.22-.15-.32q-.149-.15-.31-.15h-8.23c-.11 0-.21.06-.305.16a.5.5 0 0 0-.144.33v.94-.01zm0-3.47c0 .13.04.23.13.32s.195.13.31.13h8.24c.115 0 .22-.04.316-.13a.4.4 0 0 0 .143-.31v-.95c0-.11-.048-.21-.143-.31a.43.43 0 0 0-.317-.15h-8.23q-.164 0-.305.15a.47.47 0 0 0-.144.32v.94zm0-3.43a.445.445 0 0 0 .44.46h8.24c.115 0 .22-.04.316-.13a.4.4 0 0 0 .143-.32V5.5a.44.44 0 0 0-.143-.316.44.44 0 0 0-.317-.143h-8.23q-.164 0-.305.15c-.095.1-.143.2-.144.32v.95z' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.button--bubbleMenu[data-action="note"] .icon {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='25' width='25'%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='M17.662 4.552H7.346A4.36 4.36 0 0 0 3 8.898v5.685c0 2.168 1.614 3.962 3.697 4.28v2.77c0 .303.35.476.59.29l3.904-2.994h6.48c2.39 0 4.35-1.96 4.35-4.35V8.9c0-2.39-1.95-4.346-4.34-4.346zM16 14.31a.99.99 0 0 1-1.003.99h-4.994C9.45 15.3 9 14.85 9 14.31v-3.02a.99.99 0 0 1 1-.99v-.782a2.5 2.5 0 0 1 2.5-2.51c1.38 0 2.5 1.13 2.5 2.51v.782c.552.002 1 .452 1 .99z'/%3E%3Cpath d='M14 9.81c0-.832-.674-1.68-1.5-1.68-.833 0-1.5.84-1.5 1.68v.49h3z'/%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='25' width='25'%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='M17.662 4.552H7.346A4.36 4.36 0 0 0 3 8.898v5.685c0 2.168 1.614 3.962 3.697 4.28v2.77c0 .303.35.476.59.29l3.904-2.994h6.48c2.39 0 4.35-1.96 4.35-4.35V8.9c0-2.39-1.95-4.346-4.34-4.346zM16 14.31a.99.99 0 0 1-1.003.99h-4.994C9.45 15.3 9 14.85 9 14.31v-3.02a.99.99 0 0 1 1-.99v-.782a2.5 2.5 0 0 1 2.5-2.51c1.38 0 2.5 1.13 2.5 2.51v.782c.552.002 1 .452 1 .99z'/%3E%3Cpath d='M14 9.81c0-.832-.674-1.68-1.5-1.68-.833 0-1.5.84-1.5 1.68v.49h3z'/%3E%3C/g%3E%3C/svg%3E");
}
.button--bubbleMenu[data-action="inset-center"] .icon {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25'%3E%3Cpath d='M5 20.558v-.9q0-.183.122-.312a.4.4 0 0 1 .305-.13h13.347a.45.45 0 0 1 .32.13q.138.129.138.312v.9a.41.41 0 0 1-.138.313.44.44 0 0 1-.32.13H5.427a.39.39 0 0 1-.305-.13.43.43 0 0 1-.122-.31zm0-3.554V9.01q0-.181.122-.31a.4.4 0 0 1 .305-.13h13.347q.184 0 .32.13.138.129.138.31v7.994a.46.46 0 0 1-.138.328.42.42 0 0 1-.32.145H5.427a.38.38 0 0 1-.305-.145.5.5 0 0 1-.122-.328M5 6.342v-.87q0-.18.122-.327A.38.38 0 0 1 5.427 5h13.347q.184 0 .32.145a.46.46 0 0 1 .138.328v.87q0 .181-.138.31a.45.45 0 0 1-.32.13H5.427a.4.4 0 0 1-.305-.13.44.44 0 0 1-.122-.31z' fill-rule='evenodd'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25'%3E%3Cpath d='M5 20.558v-.9q0-.183.122-.312a.4.4 0 0 1 .305-.13h13.347a.45.45 0 0 1 .32.13q.138.129.138.312v.9a.41.41 0 0 1-.138.313.44.44 0 0 1-.32.13H5.427a.39.39 0 0 1-.305-.13.43.43 0 0 1-.122-.31zm0-3.554V9.01q0-.181.122-.31a.4.4 0 0 1 .305-.13h13.347q.184 0 .32.13.138.129.138.31v7.994a.46.46 0 0 1-.138.328.42.42 0 0 1-.32.145H5.427a.38.38 0 0 1-.305-.145.5.5 0 0 1-.122-.328M5 6.342v-.87q0-.18.122-.327A.38.38 0 0 1 5.427 5h13.347q.184 0 .32.145a.46.46 0 0 1 .138.328v.87q0 .181-.138.31a.45.45 0 0 1-.32.13H5.427a.4.4 0 0 1-.305-.13.44.44 0 0 1-.122-.31z' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.button--bubbleMenu[data-action="outset-center"] .icon {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25'%3E%3Cpath d='M3 17.004V9.01a.4.4 0 0 1 .145-.31.48.48 0 0 1 .328-.13h17.74q.18 0 .327.13a.4.4 0 0 1 .145.31v7.994a.4.4 0 0 1-.145.313.48.48 0 0 1-.328.13H3.472a.48.48 0 0 1-.327-.13.4.4 0 0 1-.145-.313m2.212 3.554v-.87q.001-.196.145-.334a.47.47 0 0 1 .328-.137H19q.185 0 .322.137a.46.46 0 0 1 .138.335v.86c0 .12-.046.22-.138.31a.48.48 0 0 1-.32.13H5.684a.5.5 0 0 1-.328-.13.42.42 0 0 1-.145-.32zm0-14.246v-.84q.001-.198.145-.334A.48.48 0 0 1 5.685 5H19a.44.44 0 0 1 .322.138.46.46 0 0 1 .138.335v.84a.45.45 0 0 1-.138.334.45.45 0 0 1-.32.138H5.684a.47.47 0 0 1-.328-.138.45.45 0 0 1-.145-.335z' fill-rule='evenodd'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25'%3E%3Cpath d='M3 17.004V9.01a.4.4 0 0 1 .145-.31.48.48 0 0 1 .328-.13h17.74q.18 0 .327.13a.4.4 0 0 1 .145.31v7.994a.4.4 0 0 1-.145.313.48.48 0 0 1-.328.13H3.472a.48.48 0 0 1-.327-.13.4.4 0 0 1-.145-.313m2.212 3.554v-.87q.001-.196.145-.334a.47.47 0 0 1 .328-.137H19q.185 0 .322.137a.46.46 0 0 1 .138.335v.86c0 .12-.046.22-.138.31a.48.48 0 0 1-.32.13H5.684a.5.5 0 0 1-.328-.13.42.42 0 0 1-.145-.32zm0-14.246v-.84q.001-.198.145-.334A.48.48 0 0 1 5.685 5H19a.44.44 0 0 1 .322.138.46.46 0 0 1 .138.335v.84a.45.45 0 0 1-.138.334.45.45 0 0 1-.32.138H5.684a.47.47 0 0 1-.328-.138.45.45 0 0 1-.145-.335z' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.button--bubbleMenu[data-action="fill-width"] .icon {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25'%3E%3Cpath d='M4.027 17.24V5.492c0-.117.046-.216.14-.3a.453.453 0 01.313-.123h17.007c.117 0 .22.04.313.12.093.08.14.18.14.3v11.74c0 .11-.046.21-.14.3a.469.469 0 01-.313.12H4.48a.432.432 0 01-.314-.13.41.41 0 01-.14-.3zm2.943 3.407v-.833a.45.45 0 01.122-.322.387.387 0 01.276-.132H18.61a.35.35 0 01.27.132.472.472 0 01.116.322v.833c0 .117-.04.216-.116.3a.361.361 0 01-.27.123H7.368a.374.374 0 01-.276-.124.405.405 0 01-.122-.3z' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25'%3E%3Cpath d='M4.027 17.24V5.492c0-.117.046-.216.14-.3a.453.453 0 01.313-.123h17.007c.117 0 .22.04.313.12.093.08.14.18.14.3v11.74c0 .11-.046.21-.14.3a.469.469 0 01-.313.12H4.48a.432.432 0 01-.314-.13.41.41 0 01-.14-.3zm2.943 3.407v-.833a.45.45 0 01.122-.322.387.387 0 01.276-.132H18.61a.35.35 0 01.27.132.472.472 0 01.116.322v.833c0 .117-.04.216-.116.3a.361.361 0 01-.27.123H7.368a.374.374 0 01-.276-.124.405.405 0 01-.122-.3z' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}

.button--bubbleMenu[data-action="fill-width"] .icon,
.button--bubbleMenu[data-action="inset-center"] .icon,
.button--bubbleMenu[data-action="outset-center"] .icon {
  width: 25px;
  height: 25px;
}

.button--bubbleMenu.is-active .icon {
  background-color: #34e79a;
  /* v-unbound #b5e5a4 */
}
.button--bubbleMenu[data-action="highlighter"] .icon {
  margin-left: -7px;
  margin-right: -7px;
}

.buttonSet-separator {
  display: inline-block;
  box-sizing: content-box;
  vertical-align: middle;
  width: 1px;
  margin: 0 6px;
  height: 24px;
  background: rgba(255, 255, 255, 0.2);
}
/* Hide the divider if not active buttons after it */
.button--bubbleMenu[style*="display: none"] + .buttonSet-separator {
  display: none;
}
.bubbleMenu-linkinput {
  display: none;
  position: absolute;
  inset: 0;
}
.bubbleMenu-linkinputField {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 13px 40px 11px 10px;
  color: #fff;
  border: none;
  outline: 0;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  appearance: none;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}
.bubbleMenu-linkinput > button {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: -3px;
}
.bubbleMenu--linkMode .buttonSet {
  visibility: hidden;
}
.bubbleMenu--linkMode .bubbleMenu-linkinput {
  display: block;
  animation: pop-upwards 180ms forwards linear;
}
.bubbleMenu--measure {
  display: inline-block;
  visibility: hidden;
}

/* ---------------- Floating Menu ---------------- */
.floatingMenu {
  position: absolute;
  top: 0;
  margin-inline-start: -58px;
  margin-top: 4px;
  width: 40px;
  height: 40px;
  z-index: 30;
  transition: visibility 0s linear 250ms, opacity 0.1s, width 0s linear 250ms;
  visibility: hidden;
  opacity: 0;
}
.floatingMenu.is-active {
  transition: visibility 0s linear 0s, opacity 0.1s, width 0s linear 0s;
  visibility: visible;
  opacity: 1;
}
.floatingMenu.is-scaled {
  width: 312px;
  transition-delay: 0s;
}
.floatingMenu > .floatingMenu-button {
  transform: rotate(0);
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;

  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;

  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.68);
  color: rgba(0, 0, 0, 0.68);
  cursor: pointer;
  background: transparent;
  user-select: none;
  vertical-align: bottom;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.floatingMenu.is-scaled > .floatingMenu-button {
  transition: transform 250ms;
  transform: rotate(45deg);
}

.floatingMenu-button[data-action="floatingMenu"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' height='25' width='25'%3E%3Cpath d='M20 12h-7V5h-1v7H5v1h7v7h1v-7h7' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
}

.floatingMenu-button[data-action="codeBlock"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='32' viewBox='0 0 32 32' width='32'%3E%3Cpath clip-rule='evenodd' d='M11.05 9.441c.771-.724 1.773-.941 2.7-.941 0 0 .5 0 .5.5s-.5.5-.5.5c-.787 0-1.5.186-2.014.67-.51.479-.914 1.332-.914 2.858 0 1.285-.32 2.232-.907 2.859q-.197.21-.42.363.223.154.42.363c.587.627.907 1.574.907 2.86 0 1.525.404 2.378.914 2.857.515.484 1.227.67 2.014.67 0 0 .5 0 .5.5s-.5.5-.5.5c-.927 0-1.929-.217-2.7-.941-.776-.73-1.228-1.89-1.228-3.587 0-1.131-.281-1.796-.637-2.175-.352-.376-1.435-.547-1.435-.547s-.5 0-.5-.5.5-.5.5-.5 1.083-.17 1.435-.547c.356-.38.637-1.044.637-2.175 0-1.697.452-2.857 1.229-3.587zm9.9 0c-.771-.724-1.773-.941-2.7-.941 0 0-.5 0-.5.5s.5.5.5.5c.787 0 1.5.186 2.015.67.51.479.913 1.332.913 2.858 0 1.285.32 2.232.907 2.859q.197.21.42.363a2.6 2.6 0 0 0-.42.363c-.587.627-.907 1.574-.907 2.86 0 1.525-.404 2.378-.913 2.857-.516.484-1.228.67-2.015.67 0 0-.5 0-.5.5s.5.5.5.5c.927 0 1.929-.217 2.7-.941.776-.73 1.229-1.89 1.229-3.587 0-1.131.28-1.796.636-2.175.352-.376 1.435-.547 1.435-.547s.5 0 .5-.5-.5-.5-.5-.5-1.083-.17-1.435-.547c-.356-.38-.637-1.044-.637-2.175 0-1.697-.452-2.857-1.229-3.587z' fill='%231A8917' fill-rule='evenodd'/%3E%3Crect height='31' rx='15.5' stroke='%231A8917' width='31' x='.5' y='.5'/%3E%3C/svg%3E");
}
.floatingMenu-button[data-action="unsplash"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='32' width='32'%3E%3Cpath d='M18.224 15.313H22V22H10v-6.687h3.776v3.337h4.434v-3.336zm0-5.313h-4.448v3.35h4.434V10z' fill='%231A8917'/%3E%3Crect height='31' rx='15.5' stroke='%231A8917' width='31' x='.5' y='.5'/%3E%3C/svg%3E");
}
.floatingMenu-button[data-action="newPart"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='32' width='32'%3E%3Cpath d='M8 10.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1h-15a.5.5 0 0 1-.5-.5' fill='%231A8917' clip-rule='evenodd' fill-rule='evenodd'/%3E%3Cpath d='M17 16.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-5 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0' fill='%231A8917'/%3E%3Cpath d='M8 22.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1h-15a.5.5 0 0 1-.5-.5' fill='%231A8917' clip-rule='evenodd' fill-rule='evenodd'/%3E%3Crect height='31' rx='15.5' stroke='%231A8917' width='31' x='.5' y='.5'/%3E%3C/svg%3E");
}
.floatingMenu-button[data-action="image"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='32' width='32'%3E%3Cpath clip-rule='evenodd' d='M19 17a2 2 0 1 0 0-4 2 2 0 0 0 0 4m0-1a1 1 0 1 0 0-2 1 1 0 0 0 0 2' fill='%231A8917' fill-rule='evenodd'/%3E%3Cpath clip-rule='evenodd' d='M10 10h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H10a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2m0 1a1 1 0 0 0-1 1v4.293l2.646-2.647a.5.5 0 0 1 .708 0L19.707 21H22a1 1 0 0 0 1-1v-8a1 1 0 0 0-1-1zm8.293 10L12 14.707l-3 3V20a1 1 0 0 0 1 1z' fill='%231A8917' fill-rule='evenodd'/%3E%3Crect height='31' rx='15.5' stroke='%231A8917' width='31' x='.5' y='.5'/%3E%3C/svg%3E");
}
.floatingMenu-button[data-action="video"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='32' width='32'%3E%3Crect height='11.522' rx='1.5' stroke='%231A8917' width='15' x='8.5' y='10.761'/%3E%3Cpath d='m19.5 16.522-5.25 3.614v-7.229z' stroke='%231A8917' stroke-linejoin='round'/%3E%3Crect height='31' rx='15.5' stroke='%231A8917' width='31' x='.5' y='.5'/%3E%3C/svg%3E");
}
.floatingMenu-button[data-action="embed"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='32' width='32'%3E%3Cpath d='M12.354 10.354a.5.5 0 0 0-.708-.708zM6 16l-.354-.354a.5.5 0 0 0 0 .708zm5.646 6.354a.5.5 0 0 0 .708-.708zm0-12.708-6 6 .708.708 6-6zm-6 6.708 6 6 .708-.708-6-6zm14 5.292a.5.5 0 0 0 .708.708zM26 16l.354.354a.5.5 0 0 0 0-.708zm-5.646-6.354a.5.5 0 0 0-.708.708zm0 12.708 6-6-.708-.708-6 6zm6-6.708-6-6-.708.708 6 6z' fill='%231A8917'/%3E%3Crect height='31' rx='15.5' stroke='%231A8917' width='31' x='.5' y='.5'/%3E%3C/svg%3E");
}

/* Hide the place of the heading label that's met current pos of tooltip */
.floatingMenu::before {
  content: "";
  width: 120px;
  height: 40px;
  inset-inline-start: -80px;
  top: 0;
  position: absolute;
  background: white;
  z-index: -1;
}

.floatingMenu.is-scaled > .floatingMenu-button {
  transition: transform 250ms;
  transform: rotate(45deg);
}
.floatingMenu-menu {
  display: inline-block;
  opacity: 0;
  padding-inline-start: 22px;
}
.floatingMenu.is-scaled .floatingMenu-menu {
  opacity: 1;
}
.floatingMenu-menu > button {
  transform: scale(0);
  width: 32px;
  height: 32px;
  padding: 0;
  margin-inline-end: 9px;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.1s;
  vertical-align: bottom;
  border: none;
  background: transparent;
  cursor: pointer;
  user-select: none;
  display: inline-block;
}
.floatingMenu.is-scaled .floatingMenu-menu > button {
  transform: scale(1);
  transition-duration: 0.2s;
}
.floatingMenu.is-scaled .floatingMenu-menu > button:nth-child(2) {
  -webkit-transition-delay: 30ms !important;
  transition-delay: 30ms !important;
}
.floatingMenu.is-scaled .floatingMenu-menu > button:nth-child(3) {
  -webkit-transition-delay: 60ms !important;
  transition-delay: 60ms !important;
}
.floatingMenu.is-scaled .floatingMenu-menu > button:nth-child(4) {
  -webkit-transition-delay: 90ms !important;
  transition-delay: 90ms !important;
}

/* ---------- Unsplash ---------- */
.unsplashInput {
  height: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0;
  font-size: 20px;
  outline: 0;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}
.unsplashImage {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.unsplashImage img {
  -webkit-animation: fade-in 0.6s;
  animation: fade-in 0.6s;
}
.unsplashImageMetadata {
  display: none;
  position: absolute;
  font-size: 16px;
  top: 0;
  left: 0;
}
.unsplashImage:hover .unsplashImageMetadata {
  -webkit-box-shadow: 0 0 0 3px #34e79a;
  box-shadow: 0 0 0 3px #34e79a;
  background: rgba(0, 0, 0, 0.54);
  display: inline-block;
}
.v-unbound .unsplashImage:hover .unsplashImageMetadata {
  -webkit-box-shadow: 0 0 0 3px #b5e5a4;
  box-shadow: 0 0 0 3px #b5e5a4;
}
.unsplashImageAuthor {
  position: absolute;
  bottom: 2px;
  left: 6px;
}

/* ------------- Media Theme ------------- */
.textrix.editing figure img:hover,
.textrix.editing iframe:hover {
  box-shadow: 0 0 0 3px #34e79a;
}

/* When select media */
.ProseMirror-selectednode > img,
.ProseMirror-selectednode > .iframeContainer {
  box-shadow: 0 0 0 3px #03a87c !important;
}

/* ------------- Code Block Theme ------------- */
.textrix pre {
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background: #f9f9f9;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 14px;
  position: relative;
  overflow: hidden;
}
.textrix pre:hover,
.textrix pre.is-selected {
  border-color: #6b6b6b;
  -webkit-transition: border-color 250ms ease-out;
  transition: border-color 250ms ease-out;
}
.textrix pre.is-selected > .codeBlockMenu-button,
.textrix pre:hover > .codeBlockMenu-button {
  pointer-events: auto;
  opacity: 1;
  transition: opacity 250ms ease-out;
  cursor: pointer;
}

.textrix pre > code {
  display: block;
  padding: 32px;
  font-size: 14px;
  line-height: 1.4;
}
.textrix pre > .codeBlockMenu-button {
  position: absolute;
  top: 8px;
  left: 12px;
  display: flex;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  user-select: none;
}

/* ------------ Popover codeBlock menu ------------ */
.popover.codeBlockMenu > .popover-inner {
  width: 240px;
}
.popover.codeBlockMenu > .popover-inner ul {
  max-height: calc(min(45vh, 440px));
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
}
.popover.codeBlockMenu > .popover-inner ul li {
  padding: 0 15px;
  box-sizing: border-box;
  width: 100%;
  line-height: 1.4;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  border: 0;
  overflow: hidden;
  position: relative;
}

.popover.codeBlockMenu > .popover-inner ul li button {
  border-width: 0;
  padding: 5px 0;
  background: transparent;
  outline: none;
  vertical-align: baseline;
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.4;
  white-space: nowrap;
  cursor: pointer;
}

.popover > .popover-inner ul li button:hover {
  color: rgba(0, 0, 0, 0.68);
}

.popover button {
  text-align: left;
}

[dir="rtl"] .popover button {
  text-align: right;
}

/* ---------- Popover Emoji List ---------- */
.popover.emoji-list > .popover-inner {
  width: max-content;
  padding: 0;
}
.popover.emoji-list > .popover-inner ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.popover.emoji-list > .popover-inner ul li {
  padding: 15px 10px;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 13px;
}
.popover.emoji-list li.selected {
  background-color: green;
}

.suggestion {
  color: #03a87c;
}

/* -------------- CodeHighlight -------------- */
.hljs {
  background: #fff;
  color: #000;
}
.xml .hljs-meta {
  color: silver;
}
.hljs-comment,
.hljs-quote {
  color: #007400;
}
.hljs-attribute,
.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-selector-tag,
.hljs-tag {
  color: #aa0d91;
}
.hljs-template-variable,
.hljs-variable {
  color: #3f6e74;
}
.hljs-code,
.hljs-meta .hljs-string,
.hljs-string {
  color: #c41a16;
}
.hljs-link,
.hljs-regexp {
  color: #0e0eff;
}
.hljs-bullet,
.hljs-number,
.hljs-symbol,
.hljs-title {
  color: #1c00cf;
}
.hljs-meta,
.hljs-section {
  color: #643820;
}
.hljs-built_in,
.hljs-class .hljs-title,
.hljs-params,
.hljs-title.class_,
.hljs-type {
  color: #5c2699;
}
.hljs-attr {
  color: #836c28;
}
.hljs-subst {
  color: #000;
}
.hljs-formula {
  background-color: #eee;
  font-style: italic;
}
.hljs-addition {
  background-color: #baeeba;
}
.hljs-deletion {
  background-color: #ffc8bd;
}
.hljs-selector-class,
.hljs-selector-id {
  color: #9b703f;
}
.hljs-doctag,
.hljs-strong {
  font-weight: 700;
}
.hljs-emphasis {
  font-style: italic;
}

/* -------------- Media zoom (Only in published mode) -------------- */
.textrix:not(.editing) img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: block;
  height: auto;
  width: auto;
  margin-inline: auto;
}

.textrix:not(.editing) .images-grid img {
  width: 100%;
  height: 100%;
}

.textrix:not(.editing) img:not([data-layout="fill-width"]) {
  cursor: zoom-in;
  z-index: auto;
  transition: transform 300ms cubic-bezier(0.2, 0, 0.2, 1);
  will-change: transform;
}
.textrix:not(.editing) > figure > img.zoomed {
  cursor: zoom-out;
}

.textrix:not(.editing) figure > img[data-layout="inset-center"] {
  max-width: min(700px, 100%);
}

.textrix:not(.editing) figure > img[data-layout="outset-center"] {
  max-width: min(1192px, 100%);
}

.textrix:not(.editing) figure > img[data-layout="fill-width"] {
  max-width: 100%;
}

.textrix:not(.editing) img.zoomed {
  cursor: zoom-out;
  z-index: 9999; /* above other */
}

.textrix-zoom-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 9998;
  scroll-behavior: smooth;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.3s;
}

/* Media Drop Cursor Animation */
.drop-animation-up {
  transform: translateY(-15px);
  transition: transform 170ms ease-in-out;
}

.drop-animation-down {
  transform: translateY(15px);
  transition: transform 170ms ease-in-out;
}

.drop-animation-left {
  transform: translateX(-15px);
  transition: transform 170ms ease-in-out;
}

.drop-animation-right {
  transform: translateX(15px);
  transition: transform 170ms ease-in-out;
}

@keyframes pop-upwards {
  0% {
    transform: matrix(0.97, 0, 0, 1, 0, 12);
    opacity: 0;
  }
  20% {
    transform: matrix(0.99, 0, 0, 1, 0, 2);
    opacity: 0.7;
  }
  40% {
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1;
  }
  70% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }
}

@keyframes pop-downwards {
  0% {
    transform: matrix(0.97, 0, 0, 1, 0, -12);
    opacity: 0;
  }
  20% {
    transform: matrix(0.99, 0, 0, 1, 0, -2);
    opacity: 0.7;
  }
  40% {
    transform: matrix(1, 0, 0, 1, 0, 1);
    opacity: 1;
  }
  70% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }
}
